---
layout: default
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

<style>
  .responsive {
    width:10%;
  }
</style>

<div class="post">
  <article class="post-content">

    <div style="text-align:center;">
      <img src="{{ site.baseurl }}/images/about/utsav.jpg" alt="Utsav Shinghal"
        style="
          width: 8rem;
          border-radius: 50%;
        "/>
    </div>

    <header class="post-header" style="text-align: center;">
      <h1 style="font-size: 1.8rem; margin-top: 0; margin-bottom: 0;">
                  Utsav Shinghal</h1>
    </header>

    <header class="site-header px2 px-responsive">
      <div class="wrap">
        <div class="measure">
          <div class="clearfix"></div>
          {% if site.show_social_icons %}
            {% include social_links.html %}
          {% endif %}
        </div>
      </div>
    </header>

    <p>
      Hi there! I am a third year student at the University of Toronto specialising in Computer Science, Mathematics and 
      Statistics. I am a driven and ambitious student interested in Data Science, Artificial Intelligence, Machine Learning and Quantitative
      Finance! Have fun exploring my site :)
  
      <br><br>
      I have lived in 7 countries, India, Dubai, Australia, Singapore, The Philippines, Malaysia and Canada, and I
      can speak a few different languages too - English, Hindi, Spanish(intermediate), Chinese(beginner)! My hobbies
      include playing chess, scuba diving, playing the guitar and watching / playing sports! I played varsity tennis 
      in high-school and captained the team in 12th grade!
  
      <br><br>
      Feel free to <a href="mailto: ushinghal19@gmail.com" target="_blank">get in touch</a>
      if you'd like to chat.
      
      <h3><u>Current Positions</u></h3>
      <ul>
        <li>Quantitative Developer Intern, Squarepoint Capital</li>
        <br>
        <li>Director of Internal Affairs, <a href="cssu.ca">Computer Science Student Union (CSSU) </a></li> 
        <em>Elected by the Computer Science students at the University of Toronto</em>
        <br><br>
        <li>Member of the <a href=/images/about/learnai.pdf>LearnAI</a> Cohort</li>. 
        <em></em>
        <br>
        <li>Member of the <a href=https://www.technologyleadershipinitiative.com/>Technology Leadership Initiative</a> Cohort</li>
        <em>Offers industry integrated learning and leadership training for high achieving Computer Science students.</em>
      </ul>

      <h3><u>Education</u></h3>
      <br>
      <img src="/images/about/uoft.png" align = "left" hspace=15 class="responsive"> 
      <p>
        <strong>University of Toronto </strong>
      <br>
      <em> Computer Science and Mathematics</em>
      <br>
      GPA: 3.97/4.00 | <a href="/images/CV/transcript.pdf">Transcript</a>
      </p>
      <br>
      <img src="/images/about/iskl.jpg" align = "left" hspace=15 class="responsive">
      <p>
        <strong>International School of Kuala Lumpur</strong>
      <br>
      <em> International Baccalaureate - Higher Level Math, Economics, Physics</em>
      <br>
      Score: 41/45
      </p>


    </p>

  </article>
</div>
<br>


<div id="Experience" class="post">
  <article class="post-content">
      <header class="post-header">
        <h1 style="font-size: 2rem; margin-top: 0; margin-bottom: 0">Experience</h1>
      </header>
  </article>
</div>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">

  <tr>
    <td valign="middle" width="25%">
        <img src="/images/experience/squarepoint.png">
    </td>
    <td valign="top" width="75%">
    
      <h3>Quantitative Developer Intern</h3>
      <h4>Squarepoint Capital</h4>
      <h5>May 2021- August 2021 (In Progress)</h5>
      <p>
        At Squarepoint Capital I am involved in working on quantitative research tools used by researchers to create machine learning models that trade real time. 
        Using <strong>Pandas</strong> and <strong>Numpy</strong>, I have fixed memory issues that were caused due to the size of datasets used by the researchers (in excess of thousands of GB). To
        do this I also had to split up <strong>Slurm</strong> job calls to ensure that more jobs were allocated for larger datasets. In addition to this, I have been fixing other bugs and creating new features
        for these tools that are requested by the researchers. More to come here soon!
      </p>
    
    </td>
    </tr>

<tr>
<td valign="middle" width="25%">
    <img src="/images/experience/shopmatic.jpg">
</td>
<td valign="top" width="75%">

  <h3>Software Engineer Intern</h3>
  <h4>Shopmatic Inc. Singapore</h4>
  <h5>August 2020 - October 2020</h5>
  <p>
    This was my first experience as a software intern. <a href="https://goshopmatic.com/">Shopmatic</a>
    is an ecommerce platform allowing entrepreneurs to set up an online presence with the press of a few buttons 
    with an intuititive web application. I worked with the <strong>frontend</strong> team for the duration of my internship.
    <br>
    <br>
    I had to quickly learn <strong>React</strong> and <strong>Redux</strong> on the job while navigating a complex code base. I worked on implementing more 
    automation to the checkout process for users when they purchase an item. Using the <strong>Google Maps API</strong>, I was
    able to create an input field where the user could type their postal code or another small piece of address information and 
    have their entire address be auto-filled in, allowing for a better and more efficient checkout experience.
  </p>

</td>
</tr>


<tr>
<td valign="middle" width="25%">
    <img src="/images/experience/dcs.jpeg">
</td>
<td valign="top" width="75%">

  <h3>Course Developer</h3>
  <h4>Department of Computer Science, University of Toronto</h4>
  <h5>September 2020 - Present</h5>
  <p>
    Solving C.S questions in first-year was tough. Or, so I thought! Turns out, making these
    questions is even harder! As a course developer, I work with professors Mario Badr and David
    Liu at the University of Toronto to make course material for the two new first-year Computer Science
    courses at UofT, <strong>CSC110</strong> and <strong>CSC111</strong>.
    <br><br>
    I would show you all the work I have been doing, but those pesky first-years would find it and 
    then ace all their exams! So I'll just explain instead! I have been making test questions and worksheet
    problems on difficult concepts like <strong>Number Theory, Runtime Analysis, Object Oriented Design, Recursion
      , Data Structures, Graphs</strong> and more, all done in <strong>Python</strong>!
  </p>

</td>
</tr>

</table>

<br><br>

<div id="Projects" class="post">
  <article class="post-content">
      <header class="post-header">
        <h1 style="font-size: 2rem; margin-top: 0; margin-bottom: 0">Projects</h1>
      </header>
  </article>
</div>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">

<tr>
<td valign="middle" width="25%">
    <img src="/images/projects/hypatia/hypatia.png">
</td>
<td valign="top" width="75%">

  <h3>Teacher's Portal</h3>
  <h4>Hypatia</h4>
  <small><em>Python, Django, React, MongoDB, AWS, GraphQL</em></small>
  <br><br>
  <p>
      This project was in corporation with the company <a href="https://hypatiasys.com/">Hypatia</a>
      as part of the course <strong>CSC207</strong>. <a href="https://hypatiasys.com/">Hypatia</a> has 
      a <strong>Check Math API</strong> that checks whether students' math calculations are incorrect
      as they write in LaTeX. 
    <br><br>
      Our motive for this project was that the completed assessments that arrive in teachers' hands rarely 
      show the true struggles the student had while completing that assignment, therefore the teacher isn't 
      able to get a good grasp on how the class is doing based on solely completed assignments. With <a href="https://hypatiasys.com/">Hypatia's </a
      <strong>Check Math API</strong>, we can gather the errors students make while trying to solve the problems!
      <br><br>
      We created a full-stack application using this <strong>API</strong> that displays informative statistics to 
      the teacher on the # of errors made by students during the assignment, the # of errors on each question (thus
      showing if a question was too difficult/easy), the most common "type" of error and more!

  </p>
  </p>
  <p> 
    <a href="https://docs.google.com/presentation/d/1rmH5FrFsDDoPLUPensH54OemD6JxsiMqoBX8_c7Q7W4/edit">slides</a> |
      <a href="https://github.com/ushinghal19/teachers-portal">code</a>
  </p>
</td>
</tr>

<tr>
  <td valign="middle" width=25%">
      <img src="/images/projects/tickertrakr/tickertrakr.png">
  </td>
  <td valign="top" width="75%">
  
    <h3>TickerTrakr</h3>
    <small><em>Python, Flask, HTML, CSS, JavaScript</em></small>
    <br><br>
    <h4> Winner for Best Data Visualization at Hacklytics - Georgia Tech's Data Science Hackathon </h4>
    <br>
    <p>
      Recently, there has been a major event in market history: the inflation of GME, AMC and other stock prices 
      mainly due to investors creating buzz on social platforms, such as Reddit and Twitter. The power of social media 
      on the stock market inspired us to make this project.
        <br><br>
        This app aims to help both individuals and companies make informed investing decisions by allowing users to 
        monitor daily fluctuations in the mentions of their stocks. TickerTrakr allows a user to enter the stocks they own 
        or want to enquire about, and see the volume of engagement surrounding this ticker on social media. 
        Ater searching for the stock ticker, 
        a data panel on the stock of interest is shown with graphs and statistics clearly displayed for easy access. 
        Data is updated real-time.
        <br><br>
        For this project, we used Python for the backend with Flask and HTML, CSS and Javascript for the frontend. 
        We also used the Twitter Search API, Reddit API and the Finnhub API to get the real-time data we needed. This project
        was made in only 36 hours!
    </p>
    <p>
        <a href="https://github.com/ushinghal19/tickertrakr">code</a>
    </p>
  </td>
  </tr>


<tr>
<td valign="middle" width="25%">
    <img src="/images/projects/interview/interview.jpg">
</td>
<td valign="top" width="75%">

  <h3>When2Interview</h3>
  <small><em>Python, Selenium</em></small>
  <br><br>
  <p>
      Scheduling interviews is a real pain! I found out the hard way, where I spent
      nearly 3 hours just seeing when I could schedule interviews for the general council
      applications at the <strong>Computer Science Student Union (CSSU)</strong>! We had been
      using <a href="www.when2meet.com">when2meet</a> to schedule these interviews. While the site
      is really good for seeing when people are available, it takes time to sort each executive with 
      an applicant.
      <br><br>
      I used Python and Selenium to scrape <a href="www.when2meet.com">when2meet</a> and schedule these
      interviews for us within seconds, saving me three hours to catch up on some sleep! Scheduling is currently
      based on a little bit of prioritization, but mostly first-come first-serve. I am working on optimising
      the algorithm so it schedules an equal amount of interviews for each exec member!
  </p>
  <p>
      <a href="https://github.com/ushinghal19/when2interview">code</a>
  </p>
</td>
</tr>

<tr>
<td valign="middle" width="25%">
    <img src="/images/projects/tennis/tennis.jpg">
</td>
<td valign="top" width="75%">

  <h3>Tennis Analysis (Research)</h3>
  <small><em>Statistics, Python, Selenium</em></small>
  <br><br>
  <p>
      Being a varsity tennis player, there were certain intuitions I had while playing on the court.
      One of these was the fact that if I was playing a better player, I would want the games to be scored
      with "sudden death", rather than deuce. But, if I was playing a worse player, I would want the games to
      be played with "deuce". It seemed intuitive - sudden death would mean I only had to win one point against a
      better player rather than two to win the game. However, I wanted to see to what extent this was based in mathematics,
      and to what extent different scoring mechanisms gave advantages to different players!
      <br><br>
      I wrote a <strong>5700</strong> word analysis of this intuition using combinatorics, probability distributions
      and negative geometric summations. To extend my analysis, I wrote a <strong>Python</strong> program to test my 
      theory for all player matchings (based on their point probabilities). The paper is linked below if you would like
      to read it!
  </p>
  <p>
      <a href="/images/projects/tennis/Tennis_Scoring_Analysis.pdf">pdf</a> | 
      <a href="https://github.com/ushinghal19/tennis-predictor">code</a>
  </p>
</td>
</tr>


</table>

