
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

.book-post {
  margin:5% 10%;
}

.book {
  width: 200px;
  border: black solid 1px;
  border-radius: 5%;
  margin-right:  12%;
}

.youtube-post {
  margin: 5% 10%;
}

.youtube {
  width: 100px;
  border-radius: 100%;
  margin: 2% 8%;
}

.youtube:hover {
  border: teal solid 5px;
}